#top {
	width: 100%;
	height: var(--status-bar-height);
}

input {
	font-size: 1.5em;
	border-bottom: 2rpx solid #8F8F94;
}

.item image{
	width: 120rpx;
	height: 120rpx;
	margin-left: 20rpx;
	border-radius: 50%;
}

.item{
	height: 130rpx;
	display: flex;
	flex-direction: row;
	align-items: center;
}